<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIMES | School Management System</title>
    <link rel="stylesheet" href="/assets/styles/output.css">
</head>
<body>
    <h1 class="text-xl font-bold bg-red-400">Welcome to TIMES</h1>
    <p class="mt-4 text-2xl">Your one-stop solution for school management.</p>
</body>
</html>